input:focus,
textarea:focus,
select:focus,
a:focus {
    outline: none;
}

.imagehight {
    height: 100px;
    width: 100px;
}

.hightimg {
    height: 50px;
    width: 50px;
}

.Search {
    display: flex;
    color: #00CAFD;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 10px 20px 25px 25px;
    gap: 20px;


}

.bellIcon {
    height: 59px;
    width: 59px;
    border-radius: 12px;
    background: linear-gradient(180deg, #00CAFD 0%, #0070B7 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    /* remove border to make it look like an icon */
    cursor: pointer;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
   
}

.searchForm {
    width: 433px;
    height: 59px;
    display: flex;
    justify-content: right;
    border: 2px #00CAFD solid;
    border-radius: 5px;
    gap:10px;


}

.searchForm1 {
    width: 433px;
    height: 59px;
    display: flex;
    justify-content: space-between;
    border-color: transparent;
    border-radius: inherit;


}

.searchForm input {
    margin-left: 5%;
    border: transparent;
    border-radius: inherit;
}

.searchForm button {
    margin-right: 5%;
    border: transparent;
    border-radius: inherit;
    background-color: transparent;

}

.fullview {
    display: flex;


}

.sideBar {
    height: auto;
    width: 20%;
    display: flex;
    flex-direction: column;
    gap: 30;
    background: linear-gradient(180deg, #00CAFD 0%, #0075BB 100%);
    margin: -10px 10px -10px -10px;


}

.sideBarRight {
    width: 100%;
    height: 100vh;

}

.marginDash {
    margin: 191px 0px 37px 32px;

}

.icon-Bar {
    display: flex;
    flex-direction: row;
    gap: 26px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto auto;
    gap: 15px;
    width: auto;
    margin: 0px 20px 0px 25px;
    height: auto;
    /* Adjust the gap between boxes as needed */
}

.box {
    border: 1px solid #ccc;
    /* padding: 20px; */
    text-align: center;
    border-radius: 12px;
    background: linear-gradient(141deg, #00CAFD 22.4%, #0055A2 114.68%);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 15px 0px 15px 0px;
}

.box1 {
    grid-column: span 2;
    /* This box spans two columns */
    grid-row: span 2;
    /*  This box spans two rows */
}

.HoursTemp {

    display: flex;
    flex-direction: row;
    height: auto;
    gap: 20px;
    margin: 40px 25px 0px 25px;
    flex-wrap: wrap;


}


.HourBox {

    border-radius: 12px;
    background: linear-gradient(180deg, #00CAFD 0%, #0070B7 100%);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    flex: 1;
    text-align: center;
    padding-bottom: 15px;
}

.DayTemp {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-radius: 12px;
    height: auto;
    width: auto;
    gap: 25px;
    margin: 40px 25px 0px 25px;
    padding: 14px 16px 14px 16px;
    background: linear-gradient(180deg, #00CAFD 0%, #0070B7 100%);
    /* justify-content: center; */




}

.DayBox {

    width: 160px;
    border-radius: 12px;
    /* margin: 14px 25px 15px; */
    text-align: center;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    flex: 1;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding-bottom: 10px;
    padding-top: 15px;
}

.Wbox {
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    gap: 20px; */
    flex-wrap: wrap;
    
}
.Wboxmin {
    display: flex;
    justify-content:space-around;
}

.wbox2 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* align-items: center; */
    gap: 10px;
    flex-wrap: wrap;
    color: #FFF;
}

.Wbox h2 {
    margin: 5px;
    color: #FFF;
    font-family: Poppins;
    font-size: 35px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.P-Box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    flex-wrap: nowrap;
    color: #FFF;
}

.P-Box h2 {
    margin: 5px;
}

.HourBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    flex-wrap: nowrap;
    color: #FFF;

}

.DayBox {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    flex-wrap: wrap;
    color: #008CCD;
}

.DayBox p {
    margin: 3px;
}

.dashSide {
    display: flex;
    flex-direction: row;
    gap: 20px;
    color: #FFF
}

.Drop {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Drop h2 {
    margin: 2px;
}

.P-Box h3 {
    margin: 5px;
}

.selectBar {
    border: 2px #00CAFD solid;
    border-radius: 5px;
    color: #00CAFD;
}

input[type="search" i]:focus {
    border-color: red !important;


}

::-webkit-scrollbar {
    width: 10px;
    /* Adjust scrollbar width */
}

::-webkit-scrollbar-thumb {
    background-color: #ccc;
    /* Change scrollbar thumb color */
    border-radius: 5px;
    /* Adjust scrollbar thumb shape */
}

@media (max-width: 760px) and (max-width: 1024px) {
    .grid-container {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        /* Three columns for tablets */
    }
    .searchForm {
        width: 35vh;      
    }
    
    .searchForm1 {
        width: 28vh;  
    }
}


/* @media (max-width: 425px) and (max-width: 1024px) {
    .grid-container {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        /* Three columns for tablets */
    }
    .searchForm {
        width: 30vh;      
    }
    
    .searchForm1 {
        width: 28vh;  
    }
} */

@media (max-width: 440px) and (max-width: 1024px) {
    .grid-container {
        grid-template-columns: repeat(auto-fit, minmax(125px, 1fr));
        /* Three columns for tablets */
    }
    .searchForm {
        width: 30vh;      
    }
    
    .searchForm1 {
        width: 24vh;  
    }
}
@media (max-width: 320px) and (max-width: 1024px) {
    .grid-container {
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        /* Three columns for tablets */
    }
    .searchForm {
        width: 30vh;      
    }
    
    .searchForm1 {
        width: 24vh;  
    }
}


.dayImageHgt {
    height: 120px;
    width: 120px;
}

.hourImageHgt {
    height: 100px;
    width: 100px;
}

.teamHead{
    margin-left: 25px;
    padding-top: 20px;
    color:#008CCD
}
.Wboxmin1{
    display: flex;
    flex-direction: row;
    gap:10px;
    align-items: center;
}
.headcity h2{
    margin: none;
}


