
    .Search {
        display: flex;
        color: #00CAFD;
        justify-content: space-between;
        flex-wrap: wrap;
        margin:10px 20px 25px 25px;
        

    }

    .bellIcon {
        height: 59px;
        width: 59px;
        border-radius: 12px;
        background: linear-gradient(180deg, #00CAFD 0%, #0070B7 100%);
        display: flex;
        align-items: center;
        justify-content: center;
        border: none; /* remove border to make it look like an icon */
        cursor: pointer;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    }
    .searchForm{
        width: 433px;
        height: 59px;
        display: flex;
        justify-content: space-between;
        border: 2px #00CAFD solid;
        border-radius: 5px;
        

    }
    .searchForm input{
        margin-left: 5%;
        border: transparent;
        border-radius: inherit;
    }
    .searchForm button{
        margin-right: 5%;
        border: transparent;
        border-radius: inherit;
        background-color: transparent;

    }

    .fullview{
        display: flex;
       

    }
    .sideBar{
        height: auto;
        width:20%;
        display: flex;
        flex-direction: column;
        gap:30;
        background: linear-gradient(180deg, #00CAFD 0%, #0075BB 100%);
        margin: -10px 10px -10px -10px; 
       

    }
    .sideBarRight{
        width:80%;

    }
    .marginDash{
        margin: 191px 0px 37px 32px;

    }
    .icon-Bar{
        display: flex;
        flex-direction: row;
        gap: 26px;
    }

    .grid-container {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: auto auto;
            gap: 15px;
            width: auto;
            margin:0px 20px 0px 25px;
            height:380px; /* Adjust the gap between boxes as needed */
        }

        .box {
            border: 1px solid #ccc;
            padding: 20px;
            text-align: center;
            border-radius: 12px;
            background: linear-gradient(141deg, #00CAFD 22.4%, #0055A2 114.68%);
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
            

        }

        .box1 {
            grid-column: span 2; /* This box spans two columns */
            grid-row: span 2;  /*  This box spans two rows */
        }
        .HoursTemp{
           display: flex;
           flex-direction: row;
           height: 220px;
           gap: 20px;
           margin: 40px 25px 0px 25px;
            
        }
        .HourBox{
           
            border-radius: 12px;
            background: linear-gradient(180deg, #00CAFD 0%, #0070B7 100%);
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
           flex: 1;
           text-align: center;
        }
        .DayTemp{
           display: flex;
           flex-direction: row;
           border-radius: 12px;
           height: 260px;
           width: auto;
           gap: 25px;
           margin: 40px 25px 0px 25px;
           padding:14px 16px 14px 16px ;
           background: linear-gradient(180deg, #00CAFD 0%, #0070B7 100%);
           /* justify-content: center; */
          

           
            
        }
        .DayBox{

           width:160px ;
            border-radius: 12px;
            /* margin: 14px 25px 15px; */
            text-align: center;
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
            flex: 1;          
            background: #FFF;
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        }

        .Wbox{
            display: flex;
            justify-content: center;
            align-items: center;
            gap:15px;
            flex-wrap: wrap;
            color: #FFF;
        }

        .wbox2{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap:10px;
            flex-wrap: wrap;  
            color: #FFF;
        }

        .Wbox h2{
            margin: 5px;
            color: #FFF;
            font-family: Poppins;
            font-size: 35px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
        }
        .P-Box{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap:5px;
            flex-wrap: nowrap;
            color: #FFF;
        }
        .P-Box h2{
        margin: 5px;
        }
        .HourBox{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap:5px;
            flex-wrap: nowrap;
            color: #FFF;

        }
        .DayBox{

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap:5px;
            flex-wrap: wrap;
            color: #008CCD;
        }
        .DayBox p{
            margin: 3px;
        }
        .dashSide{
            display: flex;
            flex-direction: row;
            gap: 20px;
            color:#FFF
        }
        .Drop{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        .Drop h2{
            margin: 2px;
        }
        .P-Box h3 {
            margin: 5px;
        }
        .selectBar{
            border: 2px #00CAFD solid ;
            border-radius: 5px;
            color:#00CAFD;
        }
       
        input[type="search" i]:focus {
        border-color:red !important;
        
       
        }
      